.navbar .navbar-brand {
  top: 50%;
  left: 50%;
}
.navbar.navbar-dark{
  background-color: #CC3333;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 4px 6px;
  top:0
}
.navbar-brand>img {
   height: 32px;
   width: auto;
   margin: 0 auto;
  /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain; 

}

.userimg{
  height: 27px;
  background-color: #fff;
  width: 27px;
  margin-top: 8px;

}
.navbar-brand{
    margin-right: auto;
}
@media (max-width: 991.98px) {
  .navbar .navbar-brand {
    position: static;
    -webkit-transform: none;
    transform: none;
  }
}

.searchbar{
  flex-flow: row;
  margin-top: 5px;
}
.fa.fa-search {
  border-radius: 50%;
  color: #fff;
  margin-left: 5px;
} 